<footer>
  <section class="footer-grid">

   <div>
      <h4>Follow Us</h4>

      <div class="social-links">
        <a
          href="https://www.facebook.com/p/ABQueer-WCS-61562844484012/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <img
            src="https://cdn.jsdelivr.net/npm/devicon@2.11.0/icons/facebook/facebook-original.svg"
            alt="Facebook"
            class="social-icon"
          >
        </a>

        <a
          href="https://www.instagram.com/abqueerwcs/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <img
            src="https://cdn.jsdelivr.net/npm/ig-icons@1.0.5/assets/Insta.png"
            alt="Instagram"
            class="social-icon"
          >
        </a>
      </div>
    </div>

   <div class="footer-mailing">
      <h4>Join Our Email List</h4>
      <p>Stay up to date with dances and events.</p>

      <form
        action="https://gmail.us13.list-manage.com/subscribe/post?u=f6527f2fb51a38c4f69556c54&amp;id=02b9744619&amp;f_id=00f756e1f0"
        method="post"
        class="mailchimp-form"
        id="mailchimp-form"
      >

        <input type="text" name="FNAME" placeholder="First name" required>
        <input type="text" name="LNAME" placeholder="Last name" required>
        <input
          type="email"
          name="EMAIL"
          placeholder="you@example.com"
          required
        >

        <!-- hidden bot field (important for spam prevention) -->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_f6527f2fb51a38c4f69556c54_02b9744619" tabindex="-1">
        </div>

        <button type="submit" class="btn">
          Subscribe
        </button>
      </form>
      <div id="form-message" class="form-message" aria-live="polite"></div>
    </div>

  </section>

  <p>© ABQueer WCS</p>
</footer>
