<header>
  <strong>ABQueer WCS</strong>
  <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/board/">Board</a>
    <a href="/events/">Events</a>
    <a href="/faq/">FAQ</a>
    <a href="/conduct/">Code of Conduct</a>
  </nav>
</header>
