---
layout: base.njk
title: FAQ
permalink: /faq/
---

<section class="container">
  <h1>Frequently Asked Questions</h1>

  <div class="faq-list">

    {% for item in faq %}
      <details class="faq-item">
        <summary>
          {{ item.question }}
          <span class="faq-icon">⌄</span>
        </summary>

        <p>{{ item.answer }}</p>

        {% if item.links %}
          <ul class="faq-links">
            {% for link in item.links %}
              <li>
                {% if link.url %}
                    <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                      {{ link.name }}
                    </a>
                {% else %}
                    <p>{{ link.name }}</p>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

      </details>
    {% endfor %}

  </div>
</section>
