---
layout: base.njk
title: Board Members
permalink: /board/
---

<section class="container">
  <h1>Board Members</h1>

  <div class="board-list">

    <!-- JASON -->
    <div class="card board-member">
        <div class="member-photo-wrapper">
        <img
        src="/assets/images/board/jason.jpg"
        alt="Jason"
        class="member-photo"
        >

        <!-- Optional credit -->
        <p class="photo-credit">Photo by Kenneth Dillard</p>
      </div>
      <div class="member-info">
        <h2>🌈 Jason Torchinsky [They/Them] 🌈</h2>
        <h3 class="member-role">President & Treasurer</h3>
        <p>Jason fell in love with West Coast Swing in 2022 at a local social while interning in Albuquerque, NM—and they’ve been hooked ever since. Back in Madison, WI, they poured their energy into organizing queer West Coast Swing socials through a queer graduate student group at the University of Wisconsin–Madison, helping create spaces where everyone could feel at home on the dance floor.</p>
        <p>Jason is one of the founders of ABQueer WCS, and currently serves as our President, Treasurer, and Chair of the Event Planning and Organizing Committee. They travel across the country to compete and bring high-energy hype to every event they attend.</p>
      </div>
    </div>

    <!-- Sarah -->
    <div class="card board-member">
        <div class="member-photo-wrapper">
        <img
        src="/assets/images/board/sarah.jpg"
        alt="Sarah"
        class="member-photo"
        >
      </div>
      <div class="member-info">
        <h2>🦋 Sarah Olguin [She/Her] 🦋</h2>
        <h3 class="member-role">Vice President</h3>
        <p>Sarah began West Coast Swing in 2024 and has been with ABQueer WCS since the very first event. She currently serves as the Vice President and is the Chair of the Advertising and PR commiette (AKA our social media queen). Sarah is a huge advocate for the LGBTQIA2S+ community and she is excited to help  our community grow, dance, and be seen.</p>
      </div>
    </div>

    <!-- DALTON -->
    <div class="card board-member">
        <div class="member-photo-wrapper">
        <img
        src="/assets/images/board/dalton.jpg"
        alt="Dalton"
        class="member-photo"
        >
      </div>
      <div class="member-info">
        <h2>🦒 Dalton Cole [He/Him] 🦒</h2>
        <h3 class="member-role">Committee Member</h3>
        <!--
        <p>
          Dalton helps organize events and build community connections within ABQueer WCS.
        </p>
        -->
        <p>TODO</p>      </div>
    </div>
  </div>
</section>
