---
layout: base.njk
title: About
permalink: /about/
---

<h1>About ABQueer WCS</h1>

<div class="card">
  <p>
    Albuquerque Queer West Coast Swing, Inc. (“ABQueer WCS”) is dedicated to bringing the joy of West Coast Swing...
  </p>
</div>
