---
layout: base.njk
title: Home
---

<section class="hero">
  <h1>
    Albuquerque’s <span class="gradient">Queer</span><br>
    West Coast Swing Community
  </h1>

  <p>
    Bringing the joy of West Coast Swing to Albuquerque’s queer community —
    and the joy of queerness to the West Coast Swing scene.
  </p>
</section>
