---
layout: base.njk
title: Home
---

<section class="hero">
  <h1>
    Albuquerque’s <span class="gradient">Queer</span><br>
    West Coast Swing Community
  </h1>

  <p>
    Albuquerque Queer West Coast Swing, Inc. (“ABQueer WCS”) is dedicated to bringing the joy of West Coast Swing to the queer community of Albuquerque, and the joy of queerness to the West Coast Swing community of Albuquerque. ABQueer WCS is committed to providing a safe, welcoming environment for everyone.
    <br>

    Events hosted and operated by ABQueer WCS are intended for people who identify as queer, identify with the challenges queer people face in society, their loved ones, and supporters of the queer community.
  </p>
</section>
